*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}

body{
background-image: url(/templates/9953182.jpg);
background-size: cover;
background-position: center;

}

.team{
	
	position: relative;
	width: 100%;
	height: 100vh;
	margin-top: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{

	width: 50%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 5rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	border-radius: 60%;
	margin-bottom: 15px;
	
}
.h1{
	color: rgb(255, 249, 249);
	font-size: 5rem;
	text-align: center;
}
.box{
	padding: 16px;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: rgb(251, 248, 248);
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	
	display:inline-flexbox;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .57s ease;
}
.icons i:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.box:hover{
	transform: scale(1.1);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}